<div class="flex">
  <div class="poppy">
    <img src="http://i.imgur.com/nsDXAA3.png">
  </div>
  <div class="bubble">
    <p>
      <div class="btn btn-primary btn-lg">
      <%= link_to "Get Ready - Start", primitives_prim2poppy_path(primitive: "init", operation: "start"), remote: true %>
      </div>
      <div class="btn btn-primary btn-lg">
      <%= link_to "Get Ready - Stop", primitives_prim2poppy_path(primitive: "init", operation: "stop"), remote: true %>
      </div>
    </p>
    <p>
      <div class="btn btn-primary btn-lg">
      <%= link_to "Look around - Start", primitives_prim2poppy_path(primitive: "head", operation: "start"), remote: true %>
      </div>
      <div class="btn btn-primary btn-lg">
      <%= link_to "Look around - Stop", primitives_prim2poppy_path(primitive: "head", operation: "stop"), remote: true %>
      </div>
    </p>
    <p>
      <div class="btn btn-primary btn-lg">
      <%= link_to "Dance - Start", primitives_prim2poppy_path(primitive: "dance", operation: "start"), remote: true %>
      </div>
      <div class="btn btn-primary btn-lg">
        <%= link_to "Dance - Start", primitives_prim2poppy_path(primitive: "dance", operation: "stop"), remote: true %>
      </div>
    </p>
    <p>
      <div class="btn btn-primary btn-lg">
        <%= link_to "Stay idle - Start", primitives_prim2poppy_path(primitive: "idle", operation: "start"), remote: true %>
      </div>
      <div class="btn btn-primary btn-lg">
        <%= link_to "Stay idle - Start", primitives_prim2poppy_path(primitive: "idle", operation: "stop"), remote: true %>
      </div>
    </p>
  </div>
</div>
