<div>
  <h1>Play with Poppy</h1>
</div>
<div class="flex">
  <div class="poppy">
    <img src="http://i.imgur.com/nsDXAA3.png">
  </div>
  <div class="bubble">
    <p>
      <div class="btn btn-primary btn-lg">
      <%= link_to "Get Ready - Start", primitives_prim2poppy_path(primitive: "init", operation: "start"), remote: true %>
      </div>
      <div class="btn btn-primary btn-lg">
      <%= link_to "Get Ready - Stop", primitives_prim2poppy_path(primitive: "init", operation: "stop"), remote: true %>
      </div>
    </p>
    <p>
      <div class="btn btn-primary btn-lg">
      <%= link_to "Look around - Start", primitives_prim2poppy_path(primitive: "head", operation: "start"), remote: true %>
      </div>
      <div class="btn btn-primary btn-lg">
      <%= link_to "Look around - Stop", primitives_prim2poppy_path(primitive: "head", operation: "stop"), remote: true %>
      </div>
    </p>
    <p>
      <div class="btn btn-primary btn-lg">
      <%= link_to "Dance - Start", primitives_prim2poppy_path(primitive: "dance", operation: "start"), remote: true %>
      </div>
      <div class="btn btn-primary btn-lg">
        <%= link_to "Dance - Stop", primitives_prim2poppy_path(primitive: "dance", operation: "stop"), remote: true %>
      </div>
    </p>
    <p>
      <div class="btn btn-primary btn-lg">
        <%= link_to "Stay idle - Start", primitives_prim2poppy_path(primitive: "idle", operation: "start"), remote: true %>
      </div>
      <div class="btn btn-primary btn-lg">
        <%= link_to "Stay idle - Stop", primitives_prim2poppy_path(primitive: "idle", operation: "stop"), remote: true %>
      </div>
    </p>
    <p>
      <div class="btn btn-primary btn-lg">
        <%= link_to "List primitives", primitives_prim2poppy_path(primitive: "primitive", operation: "list"), remote: true %>
      </div>
      <div class="btn btn-primary btn-lg">
        <%= link_to "List running primitives", primitives_prim2poppy_path(primitive: "running", operation: "list"), remote: true %>
      </div>
    </p>
    <p>
      <div class="btn btn-primary btn-lg">
        <%= link_to "List motors", primitives_motor2poppy_path(motor: "motor", operation: "list"), remote: true %>
      </div>
      <div class="btn btn-primary btn-lg">
        <%= link_to "List motors alias", primitives_motor2poppy_path(motor: "alias", operation: "list"), remote: true %>
      </div>
      <div class="btn btn-primary btn-lg">
        <!-- RECUPERER UN No DE MOTEUR ICI VIA UNE BOITE DE CHOIX MULTIPLE OU UN CLIC SUR LE MOTEUR -->
        <%= link_to "List motors for alias", primitives_motor2poppy_path(motor: "xxx", operation: "list_alias_motors"), remote: true %>
      </div>
      <div class="btn btn-primary btn-lg">
        <!-- RECUPERER UN No DE MOTEUR ICI VIA UNE BOITE DE CHOIX MULTIPLE OU UN CLIC SUR LE MOTEUR -->
        <%= link_to "List registers for motor", primitives_motor2poppy_path(motor: "xxx", operation: "list_registers"), remote: true %>
      </div>
      <div class="btn btn-primary btn-lg">
        <!-- RECUPERER UN No DE MOTEUR ICI VIA UNE BOITE DE CHOIX MULTIPLE OU UN CLIC SUR LE MOTEUR -->
        <%= link_to "List register value for motor", primitives_motor2poppy_path(motor: "xxx", operation: "register_value"), remote: true %>
      </div>
    </p>
  </div>
</div>

<div id="infos">
</div>
